@import url("./assets/icons/style.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* font */
    --font-inter: 'Inter', sans-serif;
    --font-inter-tight: 'Inter Tight', sans-serif;

    /* colors */
    --lucid-blue-100: #E7F1FF; 
    --lucid-blue-200: #9EC5FE; 
    --lucid-blue-300: #6EA8FE; 
    --lucid-blue-400: #3D8BFD; 
    --lucid-blue-500: #0D6EFD; 
    --lucid-blue-600: #0A58CA; 
    --lucid-blue-700: #084298; 
    --lucid-blue-800: #052C65; 
    --lucid-blue-900: #031633; 

    --lucid-grey-100: #F2F5F7; 
    --lucid-grey-200: #E9ECEF; 
    --lucid-grey-300: #DEE2E6; 
    --lucid-grey-400: #CED4DA; 
    --lucid-grey-500: #ADB5BD; 
    --lucid-grey-600: #6C757D; 
    --lucid-grey-700: #495057; 
    --lucid-grey-800: #343A40; 
    --lucid-grey-900: #212529; 

    --lucid-red-100: #FFE4E6; 
    --lucid-red-200: #FEC2C8; 
    --lucid-red-250: #FFC5CA;
    --lucid-red-300: #EDADB3; 
    --lucid-red-350: #FFC5CA;
    --lucid-red-400: #E35D6A;  

    --lucid-orange-100: #FFF8F2; 
    --lucid-orange-200: #FFF4E7; 
    --lucid-orange-300: #FFDAB8; 
    --lucid-orange-400: #FFBD80; 
    --lucid-orange-500: #FF7A00; 
    --lucid-orange-600: #E06C00; 
    
    --lucid-yellow-100: #FFE9A7; 
    --lucid-yellow-200: #FFF500; 
    --lucid-yellow-300: #FFC107; 

    --lucid-green-100: #E6F7E6; 
    --lucid-green-200: #B3E8B5; 
    --lucid-green-300: #2DBF33; 
    --lucid-green-400: #198754; 
    --lucid-green-500: #147046 ; 

    --lucid-magenta-100: #F3E7FF;  
    --lucid-magenta-200: #E1D2F1;  
    --lucid-magenta-300: #FF70E8;  
    --lucid-magenta-400: #BF0DFD;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}


body > * {
  margin: 0
}

html, body {
  color: var(--lucid-grey-700);
}

html, body, * {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 500; */
  font-style: normal;
  /* font-variation-settings: "slnt" 0; */
}

div:not(.ag-header-cell-resize)::empty, p:empty, li:empty, ul:empty, a:empty, button:empty { display: none }
[class*="col-"]:empty, .row:empty { display: none !important }

.core-dropdown ul[role='menu'] {
  @apply gap-1;
}

.core-dropdown li[role='menuitem'] {
  @apply text-lucid-grey-900 py-[0.5625rem] rounded;
}


.core-dropdown li[role='menuitem'] span {
  @apply  text-xs leading-[1.166667] font-medium;
}


.core-dropdown li[role='menuitem']:is([data-hover=true], [data-selected=true],:focus) {
  @apply bg-lucid-grey-100 text-lucid-grey-900;
}

.horizontal-form .origin-top-left {
  width: 25%;
  min-width: max-content;
}

.horizontal-form .origin-top-left + div {
  width: 50%;
  min-width: max-content;
}

.hover-toggle-trigger .hover-toggle-target {
  display: none;
}
.hover-toggle-trigger:hover .hover-toggle-target {
  display: inline-flex;
}

.editable-field-form .form-field {
  width: 100% !important;
}

.dialog-wrapper {
  align-items: flex-start !important;
}

[hidden] {
  display: none !important;
}


.chart-data-label {
  text-align: center;
  color: #6C757D;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.chart-data-label-value {
  font-size: 1.25rem;
  font-weight: 500;
  color: #495057;
  font-family: "Inter Tight", sans-serif;
}

.row-1 {
  height: 6rem;
}

.row-2 {
  height: 12rem;
}

.row-3 {
  height: 18rem;
}

.row-4 {
  height: 24rem;
}

.row-5 {
  height: 30rem;
}

.row-full {
  height: 100%;
  overflow: auto
}

.row-100 {
  height: calc(100vh - 176px);
}

.widget-form:not(:last-child)::after {
  content: "";
  border-bottom: 1px solid var(--lucid-grey-300);
  display: block;
  margin: 0 12px;
}


.desc-widget-form .titlebar {
  align-items: flex-start;
}

.desc-widget-form .titlebar .title {
  color: var(--lucid-grey-600) !important;
}

.desc-widget-form .card-body * {
  color: var(--lucid-grey-900) !important;
}

.desc-widget-form .card-body .row {
  min-height: 0 !important;
}

.desc-widget-form .hover-toggle-target {
  display: none !important;
}
.desc-widget-form .label-wrapper {
  width: auto !important;
}

.desc-widget-form.collapsed {
  @apply !pb-4;
}
/* .desc-widget-form {
  padding: 4px 0;
}

.desc-widget-form .card-header {
  padding-bottom: 0 !important;
}

.desc-widget-form .card-header {
  padding-bottom: 0 !important;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000;
    background: transparent;
    transition: background-color 5000s ease-in-out 0s;
    /* box-shadow: inset 0 0 20px 20px #23232329; */
}

.toast-container [role="status"] {
  @apply !p-0 !m-0;
}